
.socialNet{
    color: blue;
}

img { transition: all 0.6s ease-in-out 0s; }
img:hover
{
    cursor: default;
   /* transform: rotate(360deg); */
    transition: all 0.6s ease-in-out 0s;
}


@media screen and (min-width: 575px) {
    .hideTable {
     display: none;
    }
    
    #table,#table1,#table2,#table3{

        display: contents;
    }
  }
  